body {
    
    background-color: rgba(204, 204, 204, 0.22);
    font-family: Arial;
        
}

.w {
    background-color: rgba(204, 204, 204, 0.47);
    border-radius: 30px;
}

.ff {
    text-shadow: 1px 2px #ccc;
    font-size: 50px;
    text-align: center;
    background-color: rgba(204, 204, 204, 0.33);
    border-radius: 30px;
    color: #000;
    margin: 0 auto;
    font-size: 45px;
     box-shadow: 0 5px 10px #000;
}

.d {
    color: #000000;
    margin: 30 auto;
    width: 500px;
    background-color: rgb(109, 48, 193);
    text-shadow: 1px 2px #ccc;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 5px 10px #d80000;
}

.dd {
    text-align: center;
    margin: 30 auto;
    border-radius: 30px;
}

.xxx {
    font-size: 50px;
    width: 250px;
    font-size: 23px;
    text-shadow: 1px 2px #414141;
    color: #000000;
}
.x {
    
    border-radius: 30px;
    box-shadow: 0 5px 10px #d80000;
    text-shadow: 1px 2px #ccc;
    text-align: center;
    margin: 0 auto;
    width: 200px;
    background-color: blueviolet;
}

.as {
    margin: 0 auto;
    border-radius: 30px;
    width: 450px;
    background-color: blueviolet;
}


.xxx:hover,
.xxx:focus {
    background-color: blueviolet;
}


.aa {
    text-shadow: 1px 2px #ccc;
    font-size: 23px;
    text-shadow: 1px 2px #414141;
    color: #000000;
    
}









































